* {
    box-sizing: border-box;
}

html {
    padding: 0;
}

body {
    margin: 0;
    font-family: 'Inter';
    background-color: #1E1E1E;
    color: white;
    font-size: 0.8rem;
}

.container {
    margin: 0;
    justify-content: center;
}

nav {
    background-color: #2C2C2C;
    overflow: hidden;
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: solid 1px #444444;
    border-top: solid 1px #444444;
    -webkit-user-select: none;
    /* Safari */
    -ms-user-select: none;
    /* IE 10 and IE 11 */
    user-select: none;
    /* Standard syntax */
}


.nav-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    color: white;
}

.nav-content ul {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav-content .tools {
    vertical-align: middle;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 15px;
    height: 50px;
    line-height: 50px;
    background-color: #2C2C2C;
}

.nav-content a {
    color: white;
    text-decoration: none;
    font-size: 1.2rem;
    font-weight: 500;
    height: 100%;
}

.nav-content .tools:hover {
    background-color: #111111;
    cursor: pointer;
}

.nav-content .tools.active {
    background-color: #0C8CE9;
}

.nav-content .svg {
    display: inline-block;
    vertical-align: middle;
}



#dropdown-icon {
    transition: margin-top 0.2s ease-in;

}

#dropdown-icon:hover {
    transition: margin-top 0.2s ease-in;
}

#mainmenu {
    display: none;
    position: absolute;
    top: 50px;
    left: 0;
    width: 190px;
    margin: 5px;
    z-index: 100;
    background-color: #1E1E1E;
    color: white;
    border: solid 1px #444444;
}

#mainmenu hr {
    border-top: solid 1px #444444;
    border-bottom: 0;
}

#mainmenu ul {
    list-style-type: none;
    padding: 0;
}

#mainmenu li {
    padding: 2px 5px 2px 25px;
    width: 100%;
}

#mainmenu li:hover {
    background-color: #0C8CE9;
    cursor: pointer;
}




.left-sidebar {
    background-color: #2C2C2C;
    height: 100%;
    position: fixed;
    top: 50px;
    left: 0;
    margin: 0;
    border-right: solid 1px #444444;
    width: 241px;
}

.right-sidebar {
    background-color: #2C2C2C;
    height: 100%;
    position: fixed;
    top: 50px;
    right: 0;
    margin: 0;
    border-left: solid 1px #444444;
    width: 241px;
}

.canvas-container {
    margin: 0;
    /* padding: 20px; */
    position: relative;
    top: 50px;
    left: 241px;
    right: 241px;
    width: calc(100% - 482px);
    height: calc(100vh - 50px);
    overflow: hidden;
    background-color: #1E1E1E;
}

#gl-canvas {
    width: 1300px;
    height: 1300px;
    overflow: hidden;
}